

  

body{
    background-color: rgb(187, 190, 15) ;
    color: rgb(0, 0, 0);
    text-align: center;
font-size: 22px;
}

paragrafo{
    color: rgb(27, 9, 9);
     font-size: 11px;
}

image{
    width: 25%
}

rodape{
    font-size: 26px;
color: black;
margin: 0,5px;
padding: 12%
}